.post {
  text-align: center;
  display: block;
  padding-bottom: 20px;
  margin: 0 auto;
  padding: 40px 20px;
}

.post-container {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 20px;
  color: black;
}

.post-image {
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
}

.post-title {
  font: var(--h1);
  margin-bottom: 10px;
  line-height: 1.25;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

.post-content {
  width: 100%;
}

.post p {
  margin: auto;
  margin-bottom: 10px;
}
